body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #343434;
  color: white;
}

.App-header,
.App-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.App-form form div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

.App-chat {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 50%;
  overflow: hidden;
  background-color: #49494a;
}

.App-chat h2 {
  background-color: #28282d;
  padding: 0.5rem 0;
  margin: 0;
  text-align: center;
}

.App-chat article {
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
  min-height: 200px;
  max-height: 300px;
}

.App-chat span {
  color: cornflowerblue;
}

.App-chat h2,
.App-chat p {
  width: 100%;
}

.App-chat p {
  text-align: left;
}

.content-message {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0.5rem;
  background-color: #28282d;
}

.content-message input {
  padding: 0.5rem;
}
